---
---

@keyframes chill
	0%, 100%
		background-color: #B3DFEC

	14.285714285714286%
		background-color: #B9COEA

	28.57142857142857%
		background-color: #E8A5CC

	42.857142857142854%
		background-color: #F282A7

	57.14285714285714%
		background-color: #F0725C

	71.42857142857143%
		background-color: #F6AC5A

a
	color: rgb(0,0,0)

body, html
	width: 100%

body
	align-items: center
	animation: chill 20s infinite linear
	display: flex
	flex-flow: column
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
	justify-content: center
	margin: 0
	min-height: 100%
	padding: 0

h1
	font-size: 3rem
	max-width: 15rem
	margin: 1em auto
	text-align: center
	text-transform: lowercase

	em
		-webkit-text-stroke: 1px rgb(0,0,0)
		color: rgb(100%,100%,100%)
		font-size: 1.2em
		font-style: normal

html
	height: 100%

ul
	display: flex
	flex-flow: row wrap
	justify-content: center
	list-style: none
	margin: 0
	padding: 0
	text-transform: lowercase

	li
		&::after
			content: '|'
			padding: 0 0.25em

		&:last-child::after
			content: ''
